<?xml version="1.0" encoding="UTF-8"?>
<configuracion>
    <conf>
        <host>TnpOZW13dExOSmYyZi9ZalYyUDFOZz09OjoewcdJMzoxVrsG/dTXdvEF</host>
        <base>d0VOVitKK21VUG9lR0Uzb3pTblhRZz09OjoIaRDbrOaMXz2SfJIO3d8Q</base>
        <user>cUxuOUtEWEVlYU94VzFqMFFmTklZZz09Ojpce9DB9vBXNGrRFuiYHMo1</user>
        <pass>WTkrb2Y0djdSb0NWQ2c0ZFdaUk9TZz09OjpuC80jxSSAkxZ7ld6ZTzrh</pass>
        <key>ZLorGtdeAahEWrMCmZ/j88JjqqrEz9BYqeBXQV0Zbck=</key>
    </conf>
</configuracion>